
.form-bg {
    background-image: url(../assets/images/meetings-bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 140px;
    padding-bottom: 130px;
    
}

.container-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.h2-form {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea,
select,
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    background-color: #33ccff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #33ccff;
}













.curriculum-cal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.week {
    justify-content: center;
    width: 60%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    position: relative; /* Required for positioning the dropdown content */
}

.heading-cal {
    margin: 0;
}

.dropdown-cal {
    position: relative; /* Required for positioning the dropdown content */
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Position dropdown content below the dropdown button */
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-cal:hover .dropdown-content {
    display: block;
}

.dropdown-cal:hover .dropbtn {
    background-color: #3e8e41;
}

